"""
GTFS processing script- {{ county_sets[0]['StateCode'] }}
"""
STATE_PREFIX = "{{ county_sets[0]['StateCode']}}"
COUNTY_SETS = [
{% for county_set in county_sets %}
    {
        'name': "{{ county_set['NAME'] }}",
        'fipscode': "{{ county_set['COUNTYFP'] }}",
        'gtfsfolders': [
        ],
    },
{%- endfor %}
]

